<h1>Home#index</h1>
<%= javascript_pack_tag 'hello_react' %>
<div class="alert alert-primary" role="alert">
  A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>