<% if current_user.present? %>
  <% content_for(:head) do %>
    <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload', nonce: true %>
  <% end %>
  <% presenter = Home::IndexPresenter.new(self) %>
  <div id="app-root" class="h-screen"
       data-props="<%= presenter.react_props.to_json %>">
  </div>
<% end %>


