<% content_for(:head) do %>
  <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload', nonce: true %>
<% end %>

<% presenter = Home::IndexPresenter.new(self) %>
<div id="app-root"
     data-props="<%= presenter.react_props(@user).to_json %>">
</div>

<% if current_user %>
  <div class="mt-2 text-center w-full">
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
<% end %>