@tailwind preflight;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Montserrat", sans-serif;
    color: #5f3d66;
    @apply .antialiased;
}

.isupport-card {
    background-image: linear-gradient(to bottom, config('colors.primary') 0%, config('colors.primary-dark') 75%);
}

.predicted-list-card {
    background-color: rgba(70, 1, 116, 1);
    background-image: linear-gradient( 45deg, rgba(70, 1, 116, 1) 0%, rgba(247, 1, 157, 1) 100%);
}

.question-card {
    background-color: rgba(70, 1, 116, 1);
    background-image: linear-gradient( 45deg, rgba(70, 1, 116, 1) 0%, rgba(247, 1, 157, 1) 100%);
    @apply max-w-md items-center;
}

.home-left-top-container {
    background-color: rgba(70, 1, 116, 1);
    background-image: linear-gradient( 45deg, rgba(70, 1, 116, 1) 0%, rgba(247, 1, 157, 1) 100%);
}

.question-card__question {
    font-size: 24px;
}

@screen md {
    .question-card__question {
        font-size: 32px;
    }
}

.answer-option__card {
    border: 3px solid #ffffff;
    @apply text-sm cursor-pointer;
    transition: 0.25s;
    box-shadow: 0 0.5em 0.5em -0.4em config(colors.primary-dark);
}

.answer-option__card:hover, .answer-option__card:focus {
    box-shadow: 0 0.5em 0.5em -0.4em config(colors.primary-dark);
    transform: translateY(-0.25em);
}

.answer-option__card:hover {
    border: 3px solid #fff4a9;
}

.answer-option__card--active {
    background-image: linear-gradient( to bottom, rgba(239, 230, 135, 1) 0%, rgba(219, 200, 79, 1) 100%);
    border: 3px solid #fff4a9;
}

.btn {
    @apply font-medium py-4 px-5 rounded text-white shadow;
    background-color: rgba(65, 147, 33, 1);
    background-image: linear-gradient( 135deg, rgba(119, 178, 51, 1) 0%, rgba(65, 147, 33, 1) 100%);
    transition: 0.25s;
}

.btn:hover, .btn:focus {
    background-image: linear-gradient( 160deg, rgba(119, 178, 51, 1) 0%, rgba(65, 147, 33, 1) 100%);
    box-shadow: 0 0.5em 0.5em -0.4em config(colors.green-dark);
}

.current-standings-card {
    @apply shadow border rounded-xl p-5 flex flex-1 flex-col justify-between;
}

.left-container {
    /* width: calc(100vw - 400px) */
}

@screen md {
    .notification {
        pointer-events: none;
        transition: all .25s;
    }
}

.home-support-text {
    font-size: 4rem;
}

.notification--loaded-animate {
    -webkit-animation: animation 1200ms linear both;
    animation: animation 1200ms linear both;
}

.notification-card {
    @apply relative overflow-hidden;
    transition: all .25s;
}

.party-flag {
    max-height: 150px;
}

.bg-inv-orange {
    background-color: #F97D09;
}

.bg-inv-blue {
    background-color: #383AB3;
}

.bg-inv-yellow {
    background-color: #FED75D;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bl%3A1%2Cs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1200%2CD%3A0%2Cf%3A%7Bx%3A500%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A3%2Cb%3A1%7D%5D%7D */

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1);
    }
    2.6% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 361.431, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 361.431, 0, 0, 1);
    }
    5.21% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 257.295, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 257.295, 0, 0, 1);
    }
    10.31% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 125.942, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 125.942, 0, 0, 1);
    }
    15.52% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 56.241, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 56.241, 0, 0, 1);
    }
    20.62% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 22.876, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 22.876, 0, 0, 1);
    }
    30.93% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.305, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.305, 0, 0, 1);
    }
    41.24% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.198, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.198, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1);
    }
    2.6% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 361.431, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 361.431, 0, 0, 1);
    }
    5.21% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 257.295, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 257.295, 0, 0, 1);
    }
    10.31% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 125.942, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 125.942, 0, 0, 1);
    }
    15.52% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 56.241, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 56.241, 0, 0, 1);
    }
    20.62% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 22.876, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 22.876, 0, 0, 1);
    }
    30.93% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.305, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.305, 0, 0, 1);
    }
    41.24% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.198, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.198, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}