@tailwind preflight;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Montserrat', sans-serif;
    color: #5F3D66;
    @apply .antialiased;
}

.question-card {
    background-image: rgba(70, 1, 116, 1);
    background-image: linear-gradient(45deg, rgba(70, 1, 116, 1) 0%, rgba(247, 1, 157, 1) 100%);
}