<!--<div class="container mx-auto">-->
<!--  <div class="max-w-lg mx-auto text-center px-4 pb-4">-->
<!--    <h1>The page you were looking for doesn't exist!</h1>-->
<!--    <p class="mt-3 text-sm leading-normal">-->
<!--      You may have mistyped the address, or the page may have moved.-->
<!--    </p>-->
    <%#= error_message %>

<!--    <p class="mt-1 mb-3 text-sm leading-normal">-->
<!--      Try heading back to our homepage?-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->

<div class="flex flex-wrap w-full overflow-x-hidden">
  <div class="w-full text-center">
    <div class="home-left-top-container text-left text-primary-dark">
      <div class="w-full md:w-3/4 mx-auto pt-8 md:py-12 px-4">
        <div class="indiavote-logo-container mx-auto md:mx-0">
          <img class="w-full" src="<%= image_path("india2019-logo.svg") %>" alt="India2019"/>
        </div>
        <h1 class="text-4xl md:text-5xl leading-tight pt-32 mt-24 sm:mt-3">Error<br/>
        </h1>
        <h2 class="mt-2 text-2xl md:text-2xl leading-tight">Authentication failed <br/>
        </h2>
        <h4 class="font-normal w-4/5 leading-normal pt-2 pb-3">We Encountered An Error. Please Try Signing In Again</h4>
        <% unless current_user %>
          <div
            class="flex flex-col sm:flex-row items-start sm:items-center ">
            <div
              class="mt-2 flex p-0 sm:p-2 sm:pl-0">
              <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "loginBtn loginBtn--google no-underline" %>
            </div>
            <div
              class="mt-2 flex p-0 sm:p-2 ">
              <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "loginBtn loginBtn--facebook no-underline" %>
            </div>
          </div>
          <p class="text-xs mt-3 leading-tight w-4/5 text-grey-darker"> Results to be announced on 24 May 2018. Gift
            vouchers for the most accurate predictions! <br/>
            We will not post anything to your on your behalf nor share your email address with anyone.
          </p>
          <div class="mt-4 pb-4 gtext-lg md:text-xl leading-tight">
            India2019.vote
          </div>
        <% else %>
          <div class="mt-2 text-center w-full">
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="w-full md:w-3/4 mx-auto pt-4">
      <div class="my-8 mx-auto w-full px-4 text-left">
        <div class="flex items-center">
          <div class="flex flex-col text-center w-full mt-5">
            Contact us <br/>
            <div class="m-2">
              <a href="mailto:india2019.vote@gmail.com"> Mail</a> |
              <a
                target="_blank"
                href="https://twitter.com/india2019_vote"
              >
                Twitter
              </a>
              |
              <a
                href="https://www.facebook.com/india2019.vote"
                target="_blank"
              >
                Facebook
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




